body {
    color: rgb(35, 33, 33);
    background-color: #d9d2c5;
    margin: 0 10%;
    font-family: Cambria, Georgia, "Book Antiqua", serif;
    font-size: 1em;
    text-align: center;
}

header {
    color: white;
}
div.flexible {  
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

img#topbook {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 30px;
    width: 40%;
    height: auto;
}

img#bottombook {
    width: 20%;
    margin-bottom: 20px;
}

img#midbook {
    width: 40%;
    float:right;
}

h1 {
    background-color: rgb(28, 28, 182);
    color: white;
    font-weight: bolder;
    font-style: italic;
    text-transform: uppercase;
    border-color: silver;
    border-radius: 5px;
    padding: 10px 15px;
    display: block;
    margin: 0 auto;
}

h2 em {
    font-weight: bold;
    font-style:italic;
}

h2, h3 {
    text-align: center;
    color: white;
}

p {
    text-align: left;
    font-size: larger;
}

p.outro {
    color: rgb(82, 31, 190);
    font-style: italic;
    font-weight: bold;
}

.links {
    float:left;
    margin-top: 20px;
}

a {
    display: block;
    margin-bottom: 10px;
    color: white;
    background-color: darkgreen;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid darkgreen;
}

a:hover {
    background-color: green;
    border-color: green;
}

a:active {
    background-color: darkorchid;
    border-color: darkorchid;
}

footer {
    color: white;
    background-color: rgb(28, 28, 182);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    max-width: 600px;
    margin: 0 auto;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    body {
        margin: 0 5%;
    }
    img#topbook {
        width: 80%;
        margin-top: 20px;
    }
    img#bottombook {
        width: 50%;
        margin-bottom: 10px;
    }
    footer {
        padding: 20px;
        max-width: 100%;
    }
}

